/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.first-child {
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 50px 50px;
  background-color: #EEEEEE;
  }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1290px;
  }
.medical {
  width: 234px;
  height: 34px;
  margin-top: 48px;
  margin-left: 93px;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #5E5BFB;
  }
.home {
  display: flex;
  margin-top: 56px;
  height: 31px;
  gap: 47px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color:#000000;
      }
.register {
  text-align: center;
  padding: 7px;
  border-radius: 10px 10px 10px 10px;
  width: 161px;
  height: 50px;
  margin-top: 47px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 46.87px;
  color: #FFFFFF;
  background-color: #423FE5;
  }
.middle {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 92px;
  height: 201px;
  font-family: DM Sans;
  width: 603px;
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
    }
#best {
  color: #5C5B8F;
  }
#education {
  color: #161E64;
}
#in {
  color: #5E5BFB;
}
.lorem {
  width: 40%;
  height: 100%;
  margin-top: -200px;
  margin-left: 93px;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
      }
.form [type=text] {
  border: none;
  width: 74%;
  height: 67px;
  padding-left: 40px ;
  border-radius: 15px 0px 0px 15px;
  background-color: white;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
    }

.button [type=button] {
  display: flex;
  width: 37%;
  height: 67px;
  margin-top: -67px;
  align-content:center;
  border-radius: 0px 15px 15px 0px;
  margin-left: 74%;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  font-family: DM Sans;
  color: #FFFFFF;
  background-color: #423FE5;
  }
  
  .image {
    display: flex;
    background-position: center;
    background-size:cover;
    width: 270px;
    height: 300px;
    margin-top: -220px;
    margin-left: 1070px;
    border-radius: 10px;
      
  }
  .image2 {
    display: flex;
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 300px;
    margin-top: -160px;
    margin-left: 750px;
    border-radius: 10px;
     }
  .get {
    color: #FFFFFF;
    padding: 1.5% 1% 1% %;
    width: 300px;
    height: 114px;
    margin-top: -145px;
    margin-left: 945px;
    border-radius: 10px;
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 500;
    line-height: 38px;
    text-align: left;
    background-color: #7D7AFB;
      }
    
  