.flex-container {
   display: flex;
   flex-direction: column;
   width: 600px;
   height: 500px;
   top: 645px;
   left: -1697px;
   padding: 115px 146px 116px 146px;
   gap: 0px;
   opacity: 0px;
   background-color: #CBCAF0;
     }
.first-child {
  display: flex;
  flex-direction: column;
  width: 523px;
  height: 408px;
  top: 115px;
  left: 146px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
  background-color: #EEEEEE;
  border: solid rgb(30, 164, 182)
}


